:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-primary: #253334;
  --color-primary-inverted: #69b09c;
  --color-primary-hover: #202728;
  --color-input-bg: #7c9a92;
  --color-input-placeholder: #bec2c2;
  --color-bg-line: #3a5051;
  --color-light-inverted: rgba(255, 255, 255, 0.5);

  --border-radius: 20px;
  --font-family-main: 'Alegreya', serif;
  --font-family: 'Alegreya Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-family-main);
  color: var(--color-light);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
